
.app-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;

    &-desc {
        width: 80%;
    }
}

.featured-text {
    padding-top: 50px;
    text-align: center;
}